@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

:root {
    --dkblue: #1D3557;
    --red: #E63946;
    -cream: #d3660cdc;
}

img {
    float: left;
    clear: none;
}

body {
  background-color: #464544be;
    margin: 0;
}

/* 
 * Create Rulesets (selectors and properties)
 * for the primary-nav
 */
.primary-nav {
    color: rgb(27, 26, 26);
    padding: 0px;
    font-size: 20px;
    margin: 1px;
    font-family: 'Bebas Neue';
}




.primary-nav__link {
    transition: all 0.5s ease;
}

.primary-nav__link:hover {
    background-color: var(--babyblue);
    color: rgb(95, 33, 33);
    text-shadow: 3px 3px black;
}
